<header>
	<div class="header-content">
		<div class="header-content-inner">
			<h1 id="homeHeading">{{{title}}}</h1>
			<hr>
			<p>Worldwide Christian Youth Fellowship (WCYF) is a Youth Revival Ministry that God is using to draw our generation
				into deeper fellowship with Himself and raise to a God-fearing and Holy Spirit-filled youth who will stand for
				nothing but the Truth, which is the Word of God, in these end times as we prepare for the return of the Lord Jesus
				Christ. </p>
			<a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
		</div>
	</div>
</header>

<section class="bg-primary" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">About Us!</h2>
				<hr class="light">
				<p class="text-faded">W.C.Y.F seeks to revive our generation & restore unity in the body of Christ. Our vision is
					to revive and prepare our generation and future generations for the coming of our Lord Jesus Christ. We are
					dedicated to transforming our generation by the Word of God and by the Power of the Holy Spirit to worship God
					in Spirit and in Truth.</p>
				<a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Read more!</a>
			</div>
		</div>
	</div>
</section>

<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Our Services!</h2>
				<hr class="primary">
			</div>
		</div>
	</div>
	<service-section></service-section>
</section>

<section class="no-padding" id="portfolio">
	<div class="container-fluid">
		<div class="row no-gutter popup-gallery">
			<div class="col-lg-4 col-sm-6">
				<a href="/images/portfolio/fullsize/1.jpg" class="portfolio-box">
					<img src="/images/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Category
							</div>
							<div class="project-name">
								Project Name
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a href="/images/portfolio/fullsize/2.jpg" class="portfolio-box">
					<img src="/images/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Category
							</div>
							<div class="project-name">
								Project Name
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a href="/images/portfolio/fullsize/3.jpg" class="portfolio-box">
					<img src="/images/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Category
							</div>
							<div class="project-name">
								Project Name
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a href="/images/portfolio/fullsize/4.jpg" class="portfolio-box">
					<img src="/images/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Category
							</div>
							<div class="project-name">
								Project Name
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a href="/images/portfolio/fullsize/5.jpg" class="portfolio-box">
					<img src="/images/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Category
							</div>
							<div class="project-name">
								Project Name
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a href="/images/portfolio/fullsize/6.jpg" class="portfolio-box">
					<img src="/images/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Category
							</div>
							<div class="project-name">
								Project Name
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>

<aside class="bg-dark">
	<div class="container text-center">
		<div class="call-to-action">
			<h2>Free Download at Start Bootstrap!</h2>
			<a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Download
				Now!</a>
		</div>
	</div>
</aside>

<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">Let's Get In Touch!</h2>
				<hr class="primary">
				<p>Join us to worship Our God and our King Lord Jesus together with our Spirit-filled choir.
					worship with us and become a partner today!</p>
			</div>
			<div class="col-lg-4 col-lg-offset-2 text-center">
				<i class="fa fa-phone fa-3x sr-contact"></i>
				<p>(+233)505870899</p>
			</div>
			<div class="col-lg-4 text-center">
				<a href="#contact-form" data-toggle="collapse" class="toggle-form"><i
						class="fa fa-envelope-o fa-3x sr-contact"></i><br>
					<small>Contact Us</small>
				</a>
			</div>
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<form class="row collapse form-group form-group-sm form-group-lg form-contact" method="post" action="sendmail"
				      id="contact-form">
					<label for="name" class="col-lg-6"><span>Name: </span> <input type="text" class="form-control min-form" name="name" id="name" required></label>
					<label for="email" class="col-lg-6">Email Address: <input type="email" class="form-control" name="email" id="email"></label>
					<label for="category" class="col-lg-12 category">Category
						<select class="form-group form-control text-left col-lg-4" name="category" id="category" required>
							<option class="text-muted">Please select a Category</option>
							<option value="testimony">Testimony</option>
							<option value="">Saab</option>
							<option value="mercedes">Mercedes</option>
							<option value="audi">Audi</option>
						</select>
					</label>

					<label for="message" class="col-lg-12">Message: <textarea class="form-control message" name="message" required
					                                                         rows="10" cols="25"
					                                        id="message"></textarea></label>
					<p class="submit">
						<input class="btn btn-default btn-xl sr-button pull-right" type="submit" value="Submit">
					</p>
				</form>
			</div>
		</div>
	</div>
</section>
