<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-6 text-center" ng-repeat="serv in services.service">
			<div class="service-box">
				<i ng-class="serv.icon"></i>
				<h3 ng-bind="serv.type"></h3>
				<ul class="text-muted list-group">
					<li ng-repeat="item in serv.summary" ng-bind="item.item" class="list-inline list-unstyled" style="color:#1881a2"></li>
				</ul>
			</div>
		</div>

	</div>
</div>